<!DOCTYPE html>
<html lang="en">
<head>
    <title>Automated Dimensional Analysis</title>
    <meta name="description" content="An automated online dimensional analysis tool. Plug in your variable names and dimensions, and get a
dimensionless combination or your desired dimension.">
  <meta name="keywords" content="Dimensional Analysis, Physics, Automation, Online, Pendulum">
  <meta name="author" content="Shiri Avni">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="../static/sticky-footer.css" rel="stylesheet">
</head>
<body>

<!--todo: remove-->
{% for message in get_flashed_messages() %}
    <div class="container">
<div class="alert alert-warning">
    <button class="close" data-dismiss="alert" type="button">&times;</button>
    {{ message }}
</div>
    </div>
{% endfor %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Dimensional Analysis</h1>
        <blockquote>
            Dimensional analysis is a simple, clear and intuitive method for determining
            the functional dependence of physical quantities that are of importance to a
            certain process.
            <cite>Tatjana Misic</cite>
        </blockquote>
        <br/>
        <h5>Available dimensions: </h5><h6></h6> <b>length</b>, <b>time</b>, current, luminosity, <b>mass</b>, substance, <b>temperature</b>, area,
            volume, <b>frequency</b>, wavenmumber, <b>velocity</b>, speed, acceleration, <b>force</b>,
            power, density, pressure, <b>torque</b>, viscosity, kinematic viscosity, fluidity,
            concentration, activity, entropy, molar entropy, heat transmission,
            luminance, luminous flux, intensity, <b>charge</b>, electric potential, electric field,
            electric displacement field, resistance, resistivity, conductance, inductance,
            magnetic flux, magnetic field, magnetomotive force, electric dipole, magnetic field strength, electric quadropole </h6><cite><a href="https://github.com/hgrecco/pint/blob/master/pint/default_en.txt">(More details here)</a></cite>

        <br/>
        <br/>
        <h5>Input examples: </h5><h6></h6> [length] / [time], [mass] * [acceleration], [velocity] ^ 3 / [torque] </h6><cite><a href="https://github.com/hgrecco/pint/blob/master/pint/default_en.txt">(More details here)</a></cite>
    </div>
</div>

<div class="container">
    <div id="accordion">

        <div class="card">
            <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapseOne">
                    Discover a Dimensionless Combination
                </a>
            </div>
            <div id="collapseOne" class="{% if result or error %}collapse show{% else %}collapse{% endif %}">
                <div class="card-body">
                    <p>Enter dimensions and receive their dimensionless combination.
                    <span class="text-info"><i>e.g. Name: <b>g</b>; Dimension: <b>[length]/[time]^2</b> </i></span></p>
                    <form action="" method="post" novalidate>
                        <input type="hidden" name="form_type" value="dimensionless">
                        {% for v in form1.vars %}
                                {% set in_form = v.form %} <!-- so weird that nothing else worked -->
                                {% with name=in_form.var_name, dim=in_form.var_dim %}
                                    {% include "input_element.html" %}
                                {% endwith %}
                        {% endfor %}
                        <p>{{ form1.submit() }}</p>
                    </form>
                    {% if result is not none %}
                        <span class="text-success bold"><h3>{{ result }}</h3></span>
                    {%  endif %}
                    {% if error is not none %}
                        <span class="text-danger"><b>{{ error }}</b></span>
                    {%  endif %}
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapseTwo">
                    Express a Dimension
                </a>
            </div>
            <div id="collapseTwo" class="{% if result2 or error2 %}collapse show{% else %}collapse{% endif %}">
                <div class="card-body">
                    Given dimensions, get the combination of them that gives a desired dimension.
                    <span class="text-info"><i>e.g. Desired Dim: <b>1/[time]</b> Name: <b>g</b>; Dimension: <b>[length]/[time]^2</b> </i></span></p>
                    <form action="" method="post" novalidate>
                        <input type="hidden" name="form_type" value="dimension">
                        {% set in_desired_dim = form2.desired_dim %} <!-- so weird that nothing else worked -->
                        {% with desired_dim=in_desired_dim %}
                            {% include "desired_dim_element.html" %}
                        {% endwith %}
                        <hr/>
                        {% for v in form2.vars %}
                                {% set in_form = v.form %} <!-- so weird that nothing else worked -->
                                {% with name=in_form.var_name, dim=in_form.var_dim %}
                                    {% include "input_element.html" %}
                                {% endwith %}
                        {% endfor %}
                        <p>{{ form2.submit() }}</p>
                    </form>
                    {% if result2 is not none %}
                        <span class="text-success bold"><h3>{{ result2 }}</h3></span>
                    {%  endif %}
                    {% if error2 is not none %}
                        <span class="text-danger"><b>{{ error2 }}</b></span>
                    {%  endif %}
                </div>
            </div>
        </div>

    </div>
</div>

<br/>
<br/>

{% if result or error %}
<!--https://stackoverflow.com/questions/31863582/automatically-scroll-to-a-div-when-flask-returns-rendered-template-->
<script>
    document.location.hash = '#' + 'collapseOne';
</script>
{% endif %}

{% if result2 or error2 %}
<!--https://stackoverflow.com/questions/31863582/automatically-scroll-to-a-div-when-flask-returns-rendered-template-->
<script>
    document.location.hash = '#' + 'collapseTwo';
</script>
{% endif %}

    <footer class="footer">
      <div class="container">
        <p class="text-muted text-center" style="font-size: 14px">For questions or comments, please email avni.shiri@gmail.com.</p>
      </div>

</body>
</html>